.header{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cfcfcf;
}
.header h3 {
    line-height: 3rem;
}
.center {
    background-color: silver;
    align-content: center;
    text-align: center;
}