<div class="row">
	<div class="col-sm-0 col-md-3 col-lg-4">&nbsp;</div>
	<form method="POST" action="signin">
		<input type="hidden" id="crumb-input" name="crumb" value="{{ crumb }}"></input>
		<input type="hidden" id="client_id-input" name="client_id" value="{{ client_id }}"></input>
		<input type="hidden" id="redirect_uri-input" name="redirect_uri" value="{{ redirect_uri }}"></input>
		<input type="hidden" id="response_type-input" name="response_type" value="{{ response_type }}"></input>
		<input type="hidden" id="state-input" name="state" value="{{ state }}"></input>
		<input type="hidden" id="scope-input" name="scope" value="{{ scope }}"></input>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Sign in</h4>
				</div>
				<div class="panel-body">
					{{#if signin_error}}
					<div class="alert alert-danger" role="alert">{{signin_error}}</div>
					{{/if}}
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user" aria-hidden="true"></i></span>
						<input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="sizing-addon2">
					</div>
					<p>&nbsp;</p>
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
						<input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="sizing-addon2">
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary">Sign in!</button>
				</div>
			</div>
		</div>
	</form>
	<div class="col-sm-0 col-md-3 col-lg-4">&nbsp;</div>
</div>