<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Efog OAuth2 Server - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Efog OAuth2 Server">
	<meta name="author" content="Efog">
	<!-- bower:css -->
	<link rel="stylesheet" href="../bower_modules/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="../bower_modules/font-awesome/css/font-awesome.css" />
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../assets/css/site.css">
	<!-- endinject -->
</head>

<body>
	<div class="header clearfix">
		<!--<nav>
			<ul class="nav nav-pills float-xs-right">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</nav>-->
		<h3 class="text-muted">Efog OAuth2 Server</h3>
	</div>
	<div class="container">
		{{{content}}}
	</div>

	<!-- bower:js -->
	<script src="../bower_modules/jquery/dist/jquery.js"></script>
	<script src="../bower_modules/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->
	<!-- inject:js -->
	<!-- endinject -->
</body>

</html>